@import "assets/styles/mixins";

.wrapper {
  overflow: hidden;
  width: 100%;
  &:hover {
    .image {
      background-color: antiquewhite;
      &::before {
        opacity: 1;
      }
    }
    .children {
      opacity: 1;
    }
  }
}
.image {
  position: relative;
  @include hover_scale(1.1, 0.4s);
  width: 100%;
  height: 100%;
  background: center center no-repeat;
  background-color: black;
  background-size: cover;
}

.overlay {
  &::before {
    transition: 0.4s ease;
    content: "";
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.403);
  }
}

.children {
  transition: 0.4s ease;
  opacity: 0;
}
.wrapperMobile {
  display: flex;
  align-items: center;
}
//Responsive
@media only screen and (max-width: $breaking-point-sm) {
  .image {
    &:hover {
      transform: none;
    }
  }
}
