@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&display=swap");

@font-face {
  font-family: Blacker;
  src: url(../fonts/blacker-sans.light.woff2);
  font-weight: ligth;
}

@font-face {
  font-family: Moniqa;
  src: url(../fonts/moniqa-italic.woff2);
  font-style: italic;
}

@font-face {
  font-family: Moniqa;
  src: url(../fonts/moniqa.woff2);
}

@font-face {
  font-family: Rozha;
  src: url(../fonts/rozha-one-regular.woff2);
}

@font-face {
  font-family: Italiana;
  src: url(../fonts/italiana.woff2);
}
