@import "assets/styles/mixins";

.nav {
  top: 20px !important;
  padding: var(--padding-root-y);
  h1,
  p,
  a {
    color: $white !important;
  }

  button[aria-controls="offcanvas-container"] {
    border: none;
  }
}

.logo {
  display: flex;
  align-items: center;

  div[id="personal_picture"] {
    background: url("https://scontent.flis8-1.fna.fbcdn.net/v/t1.6435-9/83004576_2502375390091091_6509502809489014784_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=DLwHg_owZ3kAX_SGG9A&_nc_ht=scontent.flis8-1.fna&oh=00_AT9T70XVlZ8IA-_T-zl2wxvdkLDVLXzpaOYNndJFnhKqUw&oe=6302B5FB")
      center center no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 18px;
  }

  h1,
  p {
    margin: 0;
  }
  h1 {
    font-family: Rozha;
    font-weight: bold;
    font-size: 32px;
    margin-left: 15px;
  }
  p {
    font-weight: 300;
    font-size: 1rem;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      display: flex;
      height: 1px;
      width: 50px;
      background: white;
      margin: 0 10px;
    }
  }
}

//Offcanvas
#offcanvas {
  /*   background-color: $dark; */
  a {
    color: $white;
  }
}
div[class="offcanvas-header"] {
  justify-content: end;
}

.offcanvasLinks {
  transform: translateY(30px);
  a {
    margin: 0 14px;
  }
}
