@import "assets/styles/mixins";

.container {
  position: relative;
  color: $white;
  display: flex;
  align-items: center;
  margin-left: 17px;
  select {
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: -60px;
    opacity: 0;
  }
}

//Responsive
@media only screen and (max-width: $breaking-point-lg) {
  .container {
    justify-content: end;
    color: dark;
    margin-top: 30px;
    margin-right: 10px;
    color: $dark;
    select {
      right: -10px;
    }
    svg {
      width: 40px;
      height: 40px;
    }
  }
}
