@import "assets/styles/mixins";

.appLink {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  @include hover_underline($white);
  &:hover {
    letter-spacing: 6px;
  }
}
