@import "assets/styles/mixins";

.container {
  display: flex;
  align-items: center;
  height: 55vh;
  h1 {
    font-size: var(--fs-xxl);
  }
  h3 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.4px;
    margin-bottom: 15px;
  }
  a[id="contact_email"] {
    color: $yellow;
    &:hover {
      color: $white;
    }
  }
  div[class="row"] {
    width: 100%;
  }

  ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  ul li {
    list-style: none;
    @include hover_scale(1.3, 0.2s);
    & svg {
      font-size: 23px;
    }
  }
}

.social {
  transform: translateY(5px);
}
.col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

//Responsive
@media only screen and (max-width: 767px) {
  .container {
    text-align: center;
  }
  .social {
    transform: translateY(0px);
  }

  .col {
    margin-bottom: 40px;
  }
}
