@import "assets/styles/mixins";

.container {
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: $dark;
  color: $white;
  padding-top: 50px;
  min-height: 10vh !important;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 var(--padding-y);
  min-height: 90vh;
}
.header {
  position: relative;
  overflow: hidden;
  min-width: 500px;
  min-height: 100vh;
  margin-right: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $white;
  & h1 {
    font-size: var(--fs-xl);
    margin-bottom: 24px;
    font-family: Italiana;
  }
  & p {
    font-size: var(--fs-m);
    font-weight: lighter;
    text-align: justify;
  }
}

//Gallery
.gridContainer {
  display: grid;
  grid-template-rows: 1fr repeat(1, 1fr);
  grid-gap: 40px;
  grid-auto-flow: dense;
  padding: 100px 0;
  :nth-child(3n + 1) {
    grid-column: span 2;
  }
  :nth-child(3) {
    grid-column: span 2;
  }
}
.mobileGridContainer {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 40px;
  padding: 100px 0;
  & div:last-child {
    justify-self: flex-start;
  }
}

//Scroll
.swipe {
  position: absolute;
  display: none;
  transform: rotate(-90deg);
  width: 300px;
  bottom: -110px;
  right: -100px;
}

//Next
.nextCategoryContainer {
  padding: 0 50px 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  div[class="nextCategoryWrapper"] {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    cursor: pointer;
    width: 300px;
    text-transform: uppercase;
    &:hover {
      p {
        &:last-of-type {
          letter-spacing: 5px;
        }
      }
    }
  }
  p {
    transition: 0.4s ease-out;
    &:first-child {
      font-size: var(--fs-l);
      font-size: 19px;
      font-weight: 300;
      letter-spacing: 5px;
    }
    &:last-of-type {
      font-size: var(--fs-xl);
      font-family: Moniqa;
      margin-bottom: 0;
    }
  }
}
.arrow {
  font-size: var(--fs-l);
}

//Responsive

//576px
@media only screen and (max-width: $breaking-point-sm) {
  .swipe {
    display: block;
  }
  .header {
    min-width: 350px;
    min-height: 80vh;
    margin-right: 40px;
    justify-content: flex-start;
    margin-top: 90px;
    & p {
      text-align: start;
    }
  }
  .nextCategoryContainer {
    padding-left: 0px;
  }
}

//iPhone 8
@media only screen and (max-width: $breaking-point-xs) {
  .swipe {
    display: block;
  }
  .header {
    min-width: 350px;
    margin-right: 40px;
    justify-content: flex-start;
    margin-top: 90px;
  }
  .nextCategoryContainer {
    padding-left: 0px;
  }
}

@media only screen and (max-width: $breaking-point-xxs) {
  .header {
    min-width: 280px;
    min-height: 110vh;
    & p {
      text-align: start;
    }
  }
}
