@import "assets/styles/mixins";

.container {
  h2 {
    text-align: center;
    margin-bottom: 54px;
  }

  h4,
  h5 {
    font-size: large;
  }
  p {
    font-weight: 300 !important;
    font-size: var(--fs-m);
    white-space: break-spaces;
  }
}

.date {
  font-weight: 400 !important;
}
