//For more info about the implementation - https://css-tricks.com/creating-a-css-sliding-background-effect/
@import "assets/styles/mixins";

.layer {
  position: relative;
}
.container {
  position: relative;
  overflow: hidden;
  min-height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1600px;
  margin: auto;
  z-index: 1;
}

.background {
  position: absolute;
  top: 130px;
  left: 0;
  height: 5076px;
  width: 100%;
  animation: slide 60s linear infinite;
  z-index: 0;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 300px repeat(8, minmax(0px, 300px));
  grid-gap: 50px;
  grid-auto-flow: dense;

  div {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: center center no-repeat;
    background-size: cover;
    &:nth-child(4n + 1) {
      grid-row: span 2;
    }
    &:nth-child(4n) {
      grid-column: span 2;
    }
  }
}

.content {
  position: relative;
  z-index: 1;
}

//Animation
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -1692px, 0);
  }
}

@media only screen and (max-width: 648px) {
  .background {
    div {
      &:nth-child(4n + 1) {
        grid-row: auto;
      }
      &:nth-child(4n) {
        grid-column: auto;
      }
    }
  }
}
