@import "assets/styles/mixins";

.container {
  text-align: center;
  button {
    margin-top: 90px;
  }
}
.grid {
  display: grid;

  grid-gap: 60px;
}

@media only screen and (max-width: $breaking-point-sm) {
  .grid {
    grid-template-columns: none;
  }
}
