@import "assets/styles/mixins";

.container {
  h1 {
    margin-bottom: 0 !important;
  }
}
@include title_transparent;

.dots {
  bottom: -50px;

  li button::before {
    color: white !important;
  }
  li[class="slick-active"] button::before {
    color: white !important;
  }
}

//Testimonial
.testimonialContainer {
  margin: auto;
  padding: 50px 60px;
  cursor: pointer;
  max-width: 600px;
  text-align: justify;
  @include hover_scale(1.05, 0.3s);
}

.testimonialClientContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: end;

  div {
    margin-left: 30px;
    p {
      margin: 0;
    }
  }
}

.quotation {
  color: $yellow;
  font-size: var(--fs-xl-l);
  transform: translateX(-45px);
}
.letsTalk {
  margin-top: 30px;
  text-align: center;
}

//Responsive
@media only screen and (max-width: $breaking-point-sm) {
  .testimonialContainer {
    &:hover {
      transform: none;
    }
  }
}
@media only screen and (max-width: 466px) {
  .testimonialContainer {
    padding: 50px 15px !important;
    text-align: left !important;
  }

  .quotation {
    color: $yellow;
    font-size: var(--fs-xl-l);
    transform: translateX(0px);
  }
}
