@import "assets/styles/mixins";

.container {
  position: relative;
  z-index: 10;
  cursor: pointer;
  & h4 {
    position: absolute;
    bottom: 0;
    left: 20px;
    font-family: Moniqa;
    font-size: var(--fs-l);
    letter-spacing: 1.3px;
  }
}
