//Colors
$dark: #1c1c1c;
$grey: #979797;
$light-grey: #f3f3f3;
$white: #ffffff;
$yellow: #ffca6c;
$grey-yellow: #edeee9;

//Shapes
@mixin button($color) {
  background: linear-gradient($dark 0 0) var(--p, 0) / var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;
  text-transform: uppercase;
  box-shadow: 0 1px 2px rgba(38, 41, 44, 0.08);
  border: 1px solid $color;
  padding: 0.25rem 1.5rem;
  color: $color;
  &:hover {
    color: white;
    --p: 100%;
  }
}
@mixin hover_underline($color) {
  margin: 0 14px;
  padding-bottom: 2px;
  background-image: linear-gradient($color, $color);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s,
    letter-spacing 0.3s;
  &:hover {
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
  }
}

@mixin hover_scale($size, $time) {
  transition: $time ease;
  cursor: pointer;
  &:hover {
    transform: scale($size);
  }
}

@mixin hover_scale_zoom-out($size) {
  cursor: pointer;
  transition: 0.2s ease;
  transform: perspective($size) translateZ(0px);
  &:hover {
    transform: perspective($size * 10000px) translateZ(-300px);
  }
}

@mixin page_container {
  padding: 200px var(--padding-y);
  min-height: 96.5vh;
  background-color: $dark;
  color: $white;
}

//Blog
@mixin date_category_container {
  display: flex;
  justify-content: space-between;
  color: $grey;
  & p {
    font-size: var(--fs-s);

    &:first-child {
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }
  }
}

@mixin read_button {
  color: $dark;
  @include hover_underline($dark);
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
}

//Sizes
$breaking-point-lg: 1400px;
$breaking-point-md: 990px;
$breaking-point-sm: 414px;
$breaking-point-xs: 330px;

//Exports
:export {
  dark: $dark;
  grey: $grey;
  light-grey: $light-grey;
  white: $white;
  yellow: $yellow;
}
