:root {
  --fs-xxl: clamp(4rem, 10vw, 6rem);
  --fs-xl: clamp(2.8rem, 10vw, 5rem);
  --fs-xl-l: clamp(1.8rem, 5vw, 3.2rem);
  --fs-l: clamp(1.8rem, 5vw, 2.5rem);
  --fs-m: clamp(0.8rem, 10vw, 1rem);

  --padding-y: clamp(20px, 5vw, 70px);
  --padding-root-y: 0 var(--padding-y);

  --breaking-point-lg: 1400px;
  --breaking-point-md: 990px;
  --breaking-point-sm: 414px;
  --breaking-point-xs: 330px;
}
