:root {
  --fs-xxl: clamp(4rem, 10vw, 6rem);
  --fs-xl: clamp(2.8rem, 10vw, 5rem);
  --fs-xl-l: clamp(1.8rem, 5vw, 3.2rem);
  --fs-l: clamp(1.8rem, 5vw, 2.5rem);
  --fs-l-s: clamp(1.5rem, 5vw, 2rem);
  --fs-m: clamp(0.9rem, 10vw, 1.1rem);

  --padding-y: clamp(20px, 5vw, 70px);
  --padding-root-y: 0 var(--padding-y);
}
