:root {
  --fs-xxl: clamp(4rem, 10vw, 5rem);
  --fs-xl: clamp(2.7rem, 7vw, 3rem);
  --fs-l: clamp(2.3rem, 6vw, 2.5rem);
  --fs-m: clamp(0.8rem, 5vw, 1rem);
  --padding-y: clamp(20px, 5vw, 70px);
  --padding-root-y: 0 var(--padding-y);
}
