@import "assets/styles/mixins";

.homepage {
  background-color: $dark;
}
.title {
  color: white;
  h1 {
    font-size: var(--fs-xxl);
  }
  p {
    font-size: var(--fs-m);
    margin: 24px;
  }
  a {
    font-size: var(--fs-m);
  }
}
